<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yj.app">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.service.ServiceActivity"
            android:label="@string/aidl">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".TemplateActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.animator.AnimatorActivity" />
        </activity>
        <activity
            android:name=".view.animator.AnimatorActivity"
            android:label="@string/animator_activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".view.layoutcomponent.LayoutActivity"
            android:label="@string/layout_component"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".view.layoutcomponent.PictureInPictureActivity"
            android:configChanges="screenLayout|screenSize|smallestScreenSize|orientation"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            tools:targetApi="n" />
        <activity
            android:name=".view.layoutcomponent.DragActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.layoutcomponent.CopyAndPasteActivity"
            android:label="@string/copy_and_paste"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.layoutcomponent.LayoutActivity" />
        </activity>
        <activity
            android:name=".view.layoutcomponent.SearchDialogActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".view.SearchableActivity" />
        </activity>
        <activity
            android:name=".view.layoutcomponent.SearchViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.layoutcomponent.SearchableActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".view.layoutcomponent.SettingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.layoutcomponent.MenuActivity" />
        </activity>
        <activity
            android:name=".view.layoutcomponent.MenuIntentActivity"
            android:label="@string/menu_intent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.layoutcomponent.MenuActivity" />
        </activity>
        <activity
            android:name=".view.layoutcomponent.PopupMenuActivity"
            android:label="@string/popup_menu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.layoutcomponent.MenuActivity" />
        </activity>
        <activity
            android:name=".view.layoutcomponent.ContextModeActivity"
            android:label="@string/context_mode">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.layoutcomponent.MenuActivity" />
        </activity>
        <activity
            android:name=".view.layoutcomponent.ContextMenuActivity"
            android:label="@string/context_menu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.layoutcomponent.MenuActivity" />
        </activity>
        <activity
            android:name=".view.layoutcomponent.DialogActivity"
            android:theme="@style/DialogWhenLarge">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.layoutcomponent.LayoutActivity" />
        </activity>
        <activity
            android:name=".view.layoutcomponent.MenuActivity"
            android:label="@string/menu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.layoutcomponent.LayoutActivity" />
        </activity>
        <activity
            android:name=".view.layoutcomponent.ToastActivity"
            android:label="@string/toast"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.layoutcomponent.LayoutActivity" />
        </activity>
        <activity
            android:name=".view.layoutcomponent.ScrollRefreshActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- 指定父Activity,使得actionbar点击返回按钮可以返回 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.layoutcomponent.LayoutActivity" />
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.animator.BasicUseActivity"
            android:label="@string/basic_use"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.animator.AnimatorActivity" />
        </activity>
        <activity
            android:name=".view.animator.DrawableAnimatorActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.animator.AnimatorActivity" />
        </activity>
        <activity
            android:name=".view.animator.ShowHideActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.animator.AnimatorActivity" />
        </activity>
        <activity
            android:name=".view.animator.CardFlipActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.animator.AnimatorActivity" />
        </activity>
        <activity
            android:name=".view.animator.CircularRevealActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.animator.AnimatorActivity" />
        </activity>
        <activity
            android:name=".view.animator.CurvePathActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.animator.AnimatorActivity" />
        </activity>
        <activity
            android:name=".view.animator.ScaleAnimationActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.animator.AnimatorActivity" />
        </activity>
        <activity
            android:name=".view.animator.SpringActivity"
            android:label="@string/spring_animate"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.animator.AnimatorActivity" />
        </activity>
        <activity
            android:name=".view.animator.ViewUpdateActivity"
            android:label="@string/view_update"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.animator.AnimatorActivity" />
        </activity>
        <activity
            android:name=".view.animator.ViewPageAnimationActivity"
            android:label="@string/view_page"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.animator.AnimatorActivity" />
        </activity>
        <activity
            android:name=".view.animator.ViewPage2AnimationActivity"
            android:label="@string/view_page2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.animator.AnimatorActivity" />
        </activity>
        <activity
            android:name=".view.media.MediaActivity"
            android:label="@string/media"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".view.media.VideoRecordActivity"
            android:label="@string/video_record"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.media.MediaActivity" />
        </activity>

        <activity android:name=".view.file.FilePathActivity"
            android:label="@string/file_path"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity android:name=".view.file.FileStoragePathActivity"
            android:label="@string/file_storage_path"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.file.FilePathActivity"/>
        </activity>
        <activity android:name=".view.file.SharePreferenceActivity"
            android:label="@string/share_preference"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.file.FilePathActivity"/>
        </activity>
        <activity android:name=".view.file.DatabaseActivity"
            android:label="@string/room_database"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.file.FilePathActivity"/>
        </activity>

        <provider
            android:name=".provider.MySuggestionProvider"
            android:authorities="com.yj.app.provider.MySuggestionProvider" />
        <provider
            android:name=".provider.CustomSuggestionProvider"
            android:authorities="com.yj.app.provider.CustomSuggestionProvider" />

        <service
            android:name=".view.service.RemoteService"
            android:enabled="true"
            android:exported="false"
            android:process=":remote" />
        <service android:name=".view.service.ServiceActivity$MyJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
    </application>

</manifest>